.icons-hover-needed > div > i {
  color: #666666;
}
.icons-hover-needed > div > i:hover {
  color: #111111;
}
.icons-hover-needed > div:hover {
  cursor: pointer;
}
.row-2-col {
  font-size: 12px;
}
.row-2-col > p > a {
  color: #767675;
  font-weight: 600;
}
.extra-nav-image {
  height: 35px;
  border-radius: 50%;
}
.navbar-profile {
  border-bottom: 0.5px solid grey;
}
.extra-navbar {
  border-bottom: 0.5px solid grey;
}
.extra-nav-button {
  border-radius: 99px;
}
