/* reuseable class for all */
.round-border{
    border-radius:10px !important;
}
.blue-link{
    color:rgb(11,101,194) !important;
}

.rounded-btn {
    border-radius: 20px !important;
}

.round-hover:hover{
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.418);
}

.bold{
    font-weight: bold;
}

.pRelative{
    position:relative;
}
.pAbsolute{
    position:absolute;
}
/* Profile Card start */


.profile-pic{
 width:30%;
 border:5px solid white;
 border-radius:50%;
 position:relative;
 top:-100px;
 left:5%;
}

.edit-bg{
position: absolute;
right: 20px;
top:20px;
background-color: white;
border-radius:50%;
height:2rem;
width:2rem;
marging:auto;
}

/* Profile Card hover */
/* Profile Card part end */