#editComp {
  background-color: rgb(255, 255, 255);
  /* border: 1px solid rgb(177, 177, 177); */
  border-radius: 7px;
}

.peopleView {
  background-color: #fff;
  color: black;
  border-radius: 7px;
}
.first-span {
  color: white;
  background-color: grey;
  border-radius: 50%;
}
.img-fluid {
  width: 3rem;
  border-radius: 50%;
  margin: 1rem;
}
li {
  list-style-type: none;
}

.text-heading-medium {
  font-size: large;
  margin-left: 1rem;
  font-weight: 600;
}

.button-show {
  border-top: 1px solid rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.button-show:hover {
  background-color: gainsboro;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
button {
  border-style: none;
  background-color: #fff;
  align-items: center;
  padding: 0%;
  font-size: larger;
  font-weight: 700;
  color: grey;
  margin-right: 5px;
}

.text-secondary {
  font-size: 12px !important;
  font-weight: 500 !important;
}

.btn-connect {
  font-weight: 700;
  color: grey;
  border: 1px solid grey;
  border-radius: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 5rem;
}

.btn-connect:hover {
  border-color: black;
  background-color: #f3f2ee;
}

.left-profile {
  background-color: white;
  border: 1px solid rgb(233, 38, 38);
  border-radius: 9px;
  margin-top: 2rem;
  position: absolute;
  /* display: flex; */
}

.user-bg-image {
  background-color: #ffffff;
  /* background-image: url("https://images.ctfassets.net/7thvzrs93dvf/wpImage18643/2f45c72db7876d2f40623a8b09a88b17/linkedin-default-background-cover-photo-1.png?w=790&h=196&q=90&fm=png"); */
  width: 100%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.user-image {
  position: relative;
  left: 32%;
  bottom: 3rem;
  width: 25%;
  border: 3px solid white;
}
.user-img-wrapper {
  margin-bottom: -3rem;
}
.user-names {
  margin-top: 0%;
  text-align: center;
}

.user-title {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 1rem;
  font-size: small;
  border-bottom: 1px solid gainsboro;
}

li > .text-muted,
.text-primary {
  font-size: small;
}
.a-link:hover {
  background-color: rgb(161, 43, 43) !important;
}
.second-part-user {
  border-bottom: 1px solid gainsboro;
}

#third-part-user:hover {
  background-color: gainsboro;
}

#third-part-user {
  /* padding-left: 20px; */

  text-decoration: none;
}

h3 {
  font-size: smaller;
  color: gray;
}

.get-hired {
  font-weight: 700;
  color: black;
  font-size: small;
}

.second-main-part {
  border: 1px solid red;
  border-radius: 9px;
}

.ul-li {
  padding-left: 5px;
  display: list-item;

  list-style-position: outside;
}
.header {
  font-weight: 700;
  font-size: small;
}
.time {
  font-size: smaller;
}

.right-side-main {
  border: 1px solid red;
  border-radius: 9px;
}
