.header-row-profile {
  position: fixed;
  width: 100vw + 5px;
  z-index: 1;
  padding-right: 0px !important;
  background-color: #f3f2ee !important;
  right: 0;
  left: 0;
}
.profile-myMain-row {
  padding-top: 70px;
}
body {
  background-color: #f3f2ef !important;
}
